# Xcode
.DS_Store
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
xcuserdata

# Swift Package Manager
Packages/
.build/

# Firebase
GoogleService-Info.plist

# Logs
*.log
*.tmp

# Temporary files
*.tmp
*.swp
*.xcscmblueprint
*.xccheckout

# IDE specific
.idea/
.vscode/

# Environment files
.env
